@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

.page-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  font-family: 'Inter', sans-serif;
}

/* Image de fond */
.background {
  position: absolute;
  inset: 0;
  background-size: cover;
  background-position: center;
  z-index: 0;
}

/* Overlay léger sur toute la page */
.overlay-1 {
  position: absolute;
  width: 758px;
  height: 586px;
  left: 452px;
  top: 174px;
  background: rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Carte du proverbe */
.overlay-2 {
  box-sizing: border-box;
  position: absolute;
  width: 464px;
  height: 528px;
  left: 615px;
  top: 232px;
  background: rgba(0, 0, 0, 0.46);
  border: 1px solid #49521d;
  border-radius: 25px 25px 0 0;
  z-index: 2;
  color: white;
}

/* Texte du proverbe */
.proverb-text {
  position: absolute;
  width: 361px;
  height: 90px;
  left: 664px;
  top: 261px;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
}

/* Lignes décoratives */
.line-left {
  position: absolute;
  width: 90px;
  height: 0px;
  left: 664px;
  top: 393px;
  border: 2px solid rgba(255, 193, 7, 0.5);
  transform: rotate(1.32deg);
}

.line-right {
  position: absolute;
  width: 77px;
  height: 0px;
  left: 942px;
  top: 394px;
  border: 2px solid rgba(255, 193, 7, 0.5);
  transform: rotate(-0.37deg);
}

/* Origine */
.origin {
  position: absolute;
  width: 170px;
  height: 20px;
  left: 792px;
  top: 383px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: rgba(255, 193, 7, 0.78);
}

/* Titre Signification */
.signification-title {
  position: absolute;
  width: 134px;
  height: 20px;
  left: 661px;
  top: 447px;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: rgba(255, 193, 7, 0.96);
}

/* Texte de la signification */
.signification-text {
  position: absolute;
  width: 380px;
  height: 150px;
  left: 661px;
  top: 490px;
  font-weight: 700;
  font-size: 16px;
  line-height: 25px;
  color: #ffffff;
}
